{% extends 'profile/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function () {
            $(function () {
                const $form = $('form[name=profile]');
                const $firstName = $('#profile_first_name');
                const $lastName = $('#profile_last_name');
                const $token = $('#profile_erc20_token');
                const $password = $('#profile_password_first');
                const $repeatedPassword = $('#profile_password_second');
                const $passwordHelp = $('#passwordHelp');

                $form.submit(function () {
                    let hasError = false;
                    if (!checkFirstName()) {
                        hasError = true;
                    }
                    if (!checkLastName()) {
                        hasError = true;
                    }
                    if (!checkToken()) {
                        hasError = true;
                    }
                    if (!checkPassword()) {
                        hasError = true;
                    }
                    if (!checkRepeatedPassword()) {
                        hasError = true;
                    }
                    return !hasError;
                });

                function checkFirstName() {
                    if ($firstName.val().trim().length === 0) {
                        setError($firstName, 'Required');
                        return false;
                    }
                    setSuccess($firstName);
                    return true;
                }

                function checkLastName() {
                    if ($lastName.val().trim().length === 0) {
                        setError($lastName, 'Required');
                        return false;
                    }
                    setSuccess($lastName);
                    return true;
                }

                function checkToken() {
                    const token = $token.val().trim();
                    if (token.length !== 0) {
                        const w3 = new Web3();
                        if (!w3.isAddress(token)) {
                            setError($token, 'Invalid wallet');
                            return false;
                        }
                    }
                    setSuccess($token);
                    return true;
                }

                function checkPassword() {
                    const password = $password.val().trim();
                    if (password.length === 0) {
                        return true;
                    }
                    if (password.length < 8 || !(/^[0-9a-zA-Z$&+,:;=?@#|'<>.-^*()%!]*$/.test(password)) || !(/[a-zA-Z]+/.test(password)) || !(/[0-9]+/.test(password))) {
                        $passwordHelp.addClass('valid-error');
                        $password.closest('.form-group').removeClass('checking').addClass('wrong');
                        return false;
                    }
                    $password.closest('.form-group').removeClass('wrong').addClass('checking');
                    $passwordHelp.removeClass('valid-error');
                    return true;
                }

                function checkRepeatedPassword() {
                    if ($repeatedPassword.val() !== $password.val()) {
                        setError($repeatedPassword, 'Passwords do not match');
                        return false;
                    }
                    if ($password.val().length === 0) {
                        clearError($repeatedPassword);
                        return true;
                    }
                    setSuccess($repeatedPassword);
                    return true;
                }

                function setSuccess($field) {
                    $field.closest('.form-group')
                        .removeClass('wrong')
                        .addClass('checking')
                        .find('.valid-error')
                        .hide()
                    ;
                }

                function setError($field, message) {
                    $field.closest('.form-group')
                        .removeClass('checking')
                        .addClass('wrong')
                        .find('.valid-error')
                        .text(message)
                        .show()
                    ;
                }

                function clearError($field) {
                    $field.closest('.form-group')
                        .removeClass('checking')
                        .removeClass('wrong')
                        .find('.valid-error')
                        .hide()
                    ;
                }
            });
        }());
    </script>
{% endblock %}

{% block profile_content %}
    <style type="text/css">
        form[name=profile] label {
            font-size: 16px;
            margin-top: 16px;
        }
    </style>

    {{ form_start(form) }}
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_label(form.first_name) }}
            {{ form_widget(form.first_name, {attr: {class: 'form-control', placeholder: form.first_name.vars.label}}) }}
            <small class="form-text text-muted valid-error" style="display: none;"></small>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_label(form.last_name) }}
            {{ form_widget(form.last_name, {attr: {class: 'form-control', placeholder: form.last_name.vars.label}}) }}
            <small class="form-text text-muted valid-error" style="display: none;"></small>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_label(form.erc20_token) }}
            {{ form_widget(form.erc20_token, {attr: {class: 'form-control', placeholder: form.erc20_token.vars.label}}) }}
            <small class="form-text text-muted valid-error" style="display: none;"></small>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {attr: {class: 'form-control', placeholder: form.password.first.vars.label}}) }}
            <small class="form-text text-muted" id="passwordHelp">Latin, number and special characters only. Minimum 8 characters, must contain numbers and letters.</small>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {attr: {class: 'form-control', placeholder: form.password.second.vars.label}}) }}
            <small class="form-text text-muted valid-error" style="display: none;"></small>
        </div>
    </div>
    <div class="col-lg-6" style="margin-top: 20px">
        <div class="form-group">
            <input type="submit" class="btn btn-buy btn-block" value="Submit">
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
