{% extends 'profile/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/profile/view.js"></script>
{% endblock %}

{% block profile_content %}
    <div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-10">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                News
                            </button>
                        </h5>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-2 col-2 text-right">
                        <a href="#" class="pull-right arrow-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-angle-down pull-right" aria-hidden="true"></i></a>
                        <!--                                 <a href="#" class="pull-right"><h5 class="mb-0"><i class="fa fa-plus"></i> Manage my subscriptions</h5></a>-->
                    </div>
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        {% for news in news_list %}
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="news-item">
                                    <div class="news-img">
                                        {% if 'http://' in news.image or 'https://' in news.image %}
                                            <img src="{{news.image}}" alt="">
                                        {% else %}
                                            <img src="/images/news/{{news.image}}" alt="">
                                        {% endif %}
                                        <a class="news-date" href="#">{{ news.date|date("F jS \\a\\t g:ia") }}</a>
                                        <a class="news-source" href="{{ news.source }}">Source: <span>{{ news.source|source }}</span></a>
                                    </div>
                                    <div class="news-body">
                                        <a href="/news/{{news.id}}/{{news.title|translit}}"><h3>{{ news.title|truncate(45,true) }}</h3></a>
                                        <p>{{ news.lead|truncate(150,true) }}</p>
                                        {#<ul class="list-inline news-likes">
                                            <li class="list-inline-item"><a href="#"><img src="/john/images/i/bubble.svg" alt=""> 20 comments</a></li>
                                            <li class="list-inline-item"><a href="#"><img src="/john/images/i/like.svg" alt=""> 10 likes</a></li>
                                        </ul>#}
                                        <ul class="list-inline news-tags">
                                            <li class="list-inline-item">Tags:</li>
                                            <li class="list-inline-item">Tags:</li>
                                            {% for tag in news.tags %}
                                                <li class="list-inline-item"><a href="?tags={{tag}}">{{tag}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-10">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Education
                            </button>
                        </h5>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-2 col-2 text-right">
                        <a href="#" class="pull-right arrow-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><i class="fa fa-angle-down pull-right" aria-hidden="true"></i></a>
                        <!--                                 <a href="#" class="pull-right"><h5 class="mb-0"><i class="fa fa-plus"></i> Add material</h5></a>-->
                    </div>
                </div>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        {% for course in courses %}
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="cource-box">
                                    <div class="row mb-15">
                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                            <div class="cource-avatar">
                                                <img src="/images/courses{{ course.image }}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                                    <div class="cource-title">
                                                        <a href="#">Launch course on &laquo;{{ course.title }}&raquo;</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-15">
                                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                                            <div class="cource-category">
                                                <a href="#">{{ course.title }}</a>
                                            </div>
                                        </div>
                                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 text-right">
                                            <div class="cource-fee">
                                                <span>{% if course.price %}{{ course.price }} TKLN{% else %}Free{% endif %}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <a href="#" class="btn btn-buy-inv btn-block br-30">Continue</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {#<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="cource-box dashed">
                                <a href="#">
                                    <i class="fa fa-plus"></i>
                                    <h3>Add cource</h3>
                                </a>
                            </div>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-10">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Analytics
                            </button>
                        </h5>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-2 col-2 text-right">
                        <a href="#" class="pull-right arrow-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><i class="fa fa-angle-down pull-right" aria-hidden="true"></i></a>
                        <!--                                 <a href="#" class="pull-right"><h5 class="mb-0"><i class="fa fa-plus"></i> Add material</h5></a>-->
                    </div>
                </div>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="analytics-card">
                                <div class="row mb-15">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="analytics-avatar">
                                            <img src="/john/images/pdf-icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-ms-12 col-12">
                                                <div class="analytics-title">
                                                    <a href="#">Launch cource on cryptocurrencies</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="analytics-category">
                                                    <a href="#">Analytic Material</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <div class="analytics-rate">
                                            <ul class="list-inline rating">
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star-o.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                                        <div class="analytics-status">
                                            <span>You follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="analytics-card">
                                <div class="row mb-15">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="analytics-avatar">
                                            <img src="/john/images/pdf-icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-ms-12 col-12">
                                                <div class="analytics-title">
                                                    <a href="#">Launch cource on cryptocurrencies</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="analytics-category">
                                                    <a href="#">Analytic Material</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <div class="analytics-rate">
                                            <ul class="list-inline rating">
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star-o.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                                        <div class="analytics-status">
                                            <span>You follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="analytics-card">
                                <div class="row mb-15">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="analytics-avatar">
                                            <img src="/john/images/pdf-icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-ms-12 col-12">
                                                <div class="analytics-title">
                                                    <a href="#">Launch cource on cryptocurrencies</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="analytics-category">
                                                    <a href="#">Analytic Material</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <div class="analytics-rate">
                                            <ul class="list-inline rating">
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star-o.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                                        <div class="analytics-status">
                                            <span>You follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="analytics-card">
                                <div class="row mb-15">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="analytics-avatar">
                                            <img src="/john/images/pdf-icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-ms-12 col-12">
                                                <div class="analytics-title">
                                                    <a href="#">Launch cource on cryptocurrencies</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="analytics-category">
                                                    <a href="#">Analytic Material</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <div class="analytics-rate">
                                            <ul class="list-inline rating">
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star-o.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                                        <div class="analytics-status">
                                            <span>You follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="analytics-card">
                                <div class="row mb-15">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="analytics-avatar">
                                            <img src="/john/images/pdf-icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-ms-12 col-12">
                                                <div class="analytics-title">
                                                    <a href="#">Launch cource on cryptocurrencies</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="analytics-category">
                                                    <a href="#">Analytic Material</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <div class="analytics-rate">
                                            <ul class="list-inline rating">
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star-o.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                                        <div class="analytics-status">
                                            <span>You follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="analytics-card">
                                <div class="row mb-15">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="analytics-avatar">
                                            <img src="/john/images/pdf-icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-ms-12 col-12">
                                                <div class="analytics-title">
                                                    <a href="#">Launch cource on cryptocurrencies</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="analytics-category">
                                                    <a href="#">Analytic Material</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <div class="analytics-rate">
                                            <ul class="list-inline rating">
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star-o.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                                        <div class="analytics-status">
                                            <span>You follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="analytics-card">
                                <div class="row mb-15">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="analytics-avatar">
                                            <img src="/john/images/pdf-icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-ms-12 col-12">
                                                <div class="analytics-title">
                                                    <a href="#">Launch cource on cryptocurrencies</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="analytics-category">
                                                    <a href="#">Analytic Material</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <div class="analytics-rate">
                                            <ul class="list-inline rating">
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star-o.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                                        <div class="analytics-status">
                                            <span>You follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="analytics-card">
                                <div class="row mb-15">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="analytics-avatar">
                                            <img src="/john/images/pdf-icon.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-ms-12 col-12">
                                                <div class="analytics-title">
                                                    <a href="#">Launch cource on cryptocurrencies</a>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="analytics-category">
                                                    <a href="#">Analytic Material</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                        <div class="analytics-rate">
                                            <ul class="list-inline rating">
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star.svg" alt=""></a></li>
                                                <li class="list-inline-item"><a href="#"><img src="/john/images/i/star-o.svg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 text-right">
                                        <div class="analytics-status">
                                            <span>You follow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
