{% extends 'john-base.html.twig' %}

{% block title %}{{lecture.title}} | Taklimakan{% endblock %}
{% block description %}{{lecture.lead}}{% endblock %}
{% block keywords %}{{tags|join(', ')}}{% endblock %}

{% block body %}

{% if show_welcome is defined and show_welcome == true %}
    {% include 'welcome.modal.html.twig' %}
{% endif %}

    {% include 'john-top-menu.html.twig' %}

    <div class="container">
        <div class="news-box">

    <div class="tab-content" id="pills-tabContent">
    <!-- Cards -->
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">


    <!-- Breadcrumbs -->
    <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="news-header">
                        <h2>{{lecture.title}}</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="/">Taklimakan</a></li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item"><a href="/courses">Courses & Materials</a></li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item"><a href="/courses/{{course.id}}/{{course.title|translit}}">{{course.title}}</a></li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item">#{{lecture.number}}. {{lecture.title}}</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>


        <!-- Main Container -->

        <div class="container">
            <div class="news-box">
                <div class="row">

                    <!-- Lecture Body -->
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="news-include">
                            {% if lecture.image is defined and lecture.image is not empty %}
                            <div class="news-img news-img-include">
                                <img src="/images/lectures/{{lecture.image}}" alt="">
                            </div>
                            {% endif %}
                            <div class="news-body news-body-include">
                                <div class="p-content">

                                    {{ lecture.text|raw }}

                                </div>

                                <ul class="list-inline">
                                    {% if lecture.source is not empty %}
                                        <li class="list-inline-item"><strong>Source:</strong> <a href="{{lecture.source}}">{{lecture.source}}</a></li>
                                    {% endif %}
{# FIXME Hide Shares and Likes while they are not working properly
                                    <li class="list-inline-item"><a href="#"><img src="images/i/like.svg" alt=""> 10 likes</a></li>
                                    <li class="list-inline-item"><a href="#"><img src="images/i/share.svg" alt=""> Share</a></li>
#}
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!-- End of Lecture Body -->

                    {% include '/lectures/sidebar.html.twig' %}


                </div>
            </div>
        </div>


{% endblock %}
