
<!-- News -->

<div class="container">
<div class="br-pagebody pd-x-20 pd-sm-x-30 mx-wd-1350">
<div class="card-deck card-deck-sm mg-x-0">

    {% for el in news %}

        <div class="card shadow-base bd-0 mg-0">
          <figure class="card-item-img bg-mantle rounded-top"> {# NB! Use different gradients: bg-mantle | bg-dance | bg-transfile #}
            <img class="img-fluid rounded-top" src="/img/{{el.image}}" alt="Image">
          </figure>
          <div class="card-body pd-25">
            <p class="tx-11 tx-uppercase tx-mont tx-medium tx-info">FinTech</p>
            <h5 class="tx-normal tx-roboto lh-3 mg-b-15"><a href="" class="tx-inverse hover-info">{{el.title}}</a></h5>
            <p class="tx-14 tx-gray-600 mg-b-25">{{el.lead}}</p>
            <p class="tx-13 mg-b-0">
              <a href="" class="tx-info">{{el.likes_count}} Likes</a>
              {# <a href="" class="tx-info mg-l-5">23 Comments</a> #}
              <a href="" class="tx-info mg-l-5"> {{el.comments_count}} Comments</a>
              <a href="" class="tx-info mg-l-5"><i class="icon ion-more"></i></a>
            </p>
          </div><!-- card-body -->
        </div><!-- card -->

    {% endfor %}

</div>
</div>
</div>
