
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="news-item">
                    <div class="news-img">


                        {% if course.type == 'course' %}
                            <img src="/images/courses/{{course.image}}" alt="" class="scale">
                        {% else %}
                            <img src="/images/lectures/{{course.image}}" alt="" class="scale">
                        {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="liker news-favor {{ course.like == '1' ? 'liked' : '' }}" data-type="{{course.type}}" data-id="{{course.id}}" data-like="{{course.like}}">
                            {# <a class="news-favor" href=""><img src="/images/i/favor-o.svg" alt=""></a> #}
                            <img src="/images/i/favor-o.svg" alt="">
                        </div>
                    {% else %}
                    <div class="news-favor" data-type="{{course.type}}" data-id="{{course.id}}" data-toggle="modal" data-target="#register">
                        <img src="/images/i/favor-o.svg" alt="">
                    </div>
                    {% endif %}

                        {# <div class="news-favor"><img src="/images/i/favor-o.svg" alt=""></div> #}

                        {# NB! Hiding Heart and Category
                        <a class="news-source" href="#"><span>Cryptocurrencies</span></a> #}

                    </div>
                    <div class="news-body">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 col-9">
                                    {% if course.type == 'course' %}
                                        <a href="/courses/{{course.id}}/{{course.title|translit}}">
                                    {% else %}
                                        <a href="/lectures/{{course.id}}/{{course.title|translit}}">
                                    {% endif %}
                                    <h3>{{course.title}}</h3>
                                </a>
                            </div>
                            <div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-3 text-right">
                                {% if course.type == 'course' %}
                                    <span class="category-course">Course{# {{course.category.title}} #}</span>
                                {% else %}
                                    <span class="category-course">Article</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-5 col-6">
                                <span class="level-cource">Level: <strong>{{course.level|level}}</strong></span>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-7 col-6 text-right">

                                <select class="rating" data-rating="{{course.rating}}" data-type="{{course.type}}" data-id="{{course.id}}">

                                      <option value="1" data-toggle="modal" data-target="#register">1</option>
                                      <option value="2" data-toggle="modal" data-target="#register">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <h3 class="main-price" style="margin-top: 12px;">
                                    {{course.price|price}}
                                </h3>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-8 col-md-8 col-sm-8 col-8 text-right"  style="padding-top: 20px; padding-right: 28px;">
                                <!-- <a href="#" class="btn btn-buy btn-buy-sm"><img src="images/i/cart.svg" alt=""> Buy</a> -->

                                {# Tags #}
                                <ul class="list-inline news-tags">

                                {% for tag in course.tags|split(',') %}
                                    <li class="list-inline-item"><a href="/news?tag={{tag|trim}}">{{tag|trim}}</a></li>
                                {% endfor %}

                                </ul>
                                {# #}


                            </div>
                        </div>

{#
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-12 col-md-12 col-sm-12 col-12 text-right">
                                {% for tag in course.tags|split(',') %}
                                    <a href="/news?tag={{tag|trim}}">{{tag|trim}}</a>
                                {% endfor %}
                            </div>
                        </div>
#}

                    </div>
                </div>
            </div>
