<!-- Filters -->

{# FIXME! Hide categories and custom filters

            <div class="row hidden-xs hidden-sm">
                <div class="col-xl-12 col-md-12 col-12">
                    <ul class="list-inline select-price">
                        <li class="list-inline-item active"><a href="#">All</a></li>
                        <li class="list-inline-item"><a href="#">Cryptocurrencies</a></li>
                        <li class="list-inline-item"><a href="#">Trading</a></li>
                    </ul>
                </div>
            </div>
#}
            <div class="row">
                <div class="col-xl-10 col-lg-11 col-md-9 col-sm-12 col-12">

{#
                    <div class="filter-item">


                       <div class="hidden-xl hidden-lg hidden-md">
                           <div class="labelDrop">
                            Category:
                        </div>

                        <div class="dropDrop">
                            <div class="dropdown show">
                                <a class="btn btn-filter btn-sm btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All
                          </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Cryptocurrencies</a>
                                    <a class="dropdown-item" href="#">Trading</a>
                                </div>
                            </div>
                        </div>
                       </div>

                        <div class="labelDrop">
                            Sort:
                        </div>

                        <div class="dropDrop">
                            <div class="dropdown show">
                                <a class="btn btn-filter btn-sm btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Best sellers
                          </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Best sellers</a>
                                    <a class="dropdown-item" href="#">Best likes</a>
                                </div>
                            </div>
                        </div>


<!--
                        <div class="labelDrop">
                            Price:
                        </div>

                        <div class="dropDrop">
                            <div class="dropdown show">
                                <a class="btn btn-filter btn-sm btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Low to high
                          </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Low to high</a>
                                    <a class="dropdown-item" href="#">High to low</a>
                                </div>
                            </div>
                        </div>
-->

#}
                        <div class="labelDrop">
                            Level:
                        </div>

                        <ul class="list-inline dropDrop level-list">
                            <li class="list-inline-item active"><a href="/courses?page=1&limit={{paginator.limit}}">All</a></li>
                            <li class="list-inline-item"><a href="/courses?page=1&limit={{paginator.limit}}&level=1&tags={{filter.tags}}">Easy</a></li>
                            <li class="list-inline-item"><a href="/courses?page=1&limit={{paginator.limit}}&level=2&tags={{filter.tags}}">Moderate</a></li>
                            <li class="list-inline-item"><a href="/courses?page=1&limit={{paginator.limit}}&level=3&tags={{filter.tags}}">Advanced</a></li>
                            <li class="list-inline-item"><a href="/courses?page=1&limit={{paginator.limit}}&level=4&tags={{filter.tags}}">Expert</a></li>
                        </ul>


                    </div>
                </div>
{#
                <div class="col-xl-2 col-lg-1 col-md-3 hidden-md hidden-sm hidden-xs">
                    <ul class="nav nav-pills card-views pull-right" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    </div>
#}
