<div class="row bm-1">

    <div class="col-xl-3">
        <div class="entries">
            <span>show</span>
            {# <select class="form-control" id="exampleFormControlSelect1" onchange="window.location.href='/courses?page=1&limit=' + this.value + '&level={{filter.level}}' + '&tags={{filter.tags}}'"> #}
            <select class="form-control" id="exampleFormControlSelect1">
              <option{% if paginator.limit == 6 %} selected{% endif %}>6</option>
              <option{% if paginator.limit == 12 %} selected{% endif %}>12</option>
              <option{% if paginator.limit == 18 %} selected{% endif %}>18</option>
            </select>
            <span>entries</span>
        </div>
    </div>

    <div class="col-xl-3 offset-xl-2">
       <div class="page">
        <nav aria-label="...">
          <ul class="pagination">

                {% if paginator.page <= 1 %}
                    <li class="page-item disabled">
                    <a class="page-link" href="" tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item">
                    <a class="page-link" href="/courses?page={{paginator.page - 1}}&limit={{paginator.limit}}&level={{filter.level}}&tags={{filter.tags}}" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                {% if paginator.page == 1 %}
                    <li class="page-item active"><a class="page-link" href="">1</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/courses?page={{paginator.page - 1}}&limit={{paginator.limit}}&level={{filter.level}}&tags={{filter.tags}}">{{paginator.page - 1}}</a></li>
                {% endif %}

                {% if paginator.page > 1 %}
                    <li class="page-item active">
                        <a class="page-link" href="">{{paginator.page}}</a>
                    </li>
                {% endif %}

                {% if courses|length >= paginator.limit %}
                    <li class="page-item"><a class="page-link" href="/courses?page={{paginator.page + 1}}&limit={{paginator.limit}}&level={{filter.level}}&tags={{filter.tags}}">{{paginator.page + 1}}</a></li>
                    <li class="page-item">
                        <a class="page-link" href="/courses?page={{paginator.page + 1}}&limit={{paginator.limit}}&level={{filter.level}}&tags={{filter.tags}}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">Next</a>
                    </li>
                {% endif %}

          </ul>
        </nav>
        </div>
    </div>
    
{#
    <div class="col-xl-4 text-right">
        <span class="records">Total # courses</span>
    </div>
#}

</div>
